[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target

[Service]
User={{ service_user }}
Group=www-data
WorkingDirectory=/home/{{ service_user }}/{{ app_name }}
Environment="PATH=/home/{{ service_user }}/{{ app_name }}/env/bin"
ExecStart=/home/{{ service_user }}/{{ app_name }}/env/bin/gunicorn --workers 3 --bind unix:{{ app_name }}.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
