{% macro app_div(app) -%}
<div class="row">
  <div class="twelve columns ui-app">
    {% if app.is_fix() %}
    <div class="ui-app-date">
      {{ fmt_date(app.setdate) }}
    </div>
    {% endif %}

    <div class="ui-app-name">
      {{ app.name }}
    </div>

    <div class="ui-app-links">
      <a target="_blank" rel="noopener"
         href="https://maps.google.com/maps?f=q&hl=en&q={{ app.street }},+Hamburg,+Germany">Google Maps</a><br/>
      <a target="_blank" rel="noopener"
         href="https://geofox.hvv.de/jsf/home.seam?execute=true&date=09.02.2019&time=05:40&language=de&start=Informatikum&startCity=Hamburg&startType=STATION&destination={{ app.street }}&destinationCity={{ app.city }}&destinationType=ADDRESS&timeIsDeparture=1&wayBy=train">HVV</a><br/>
      {% if app.is_fix() %}
      <a href="/calendarEntry?id={{ app.get_id() }}">iCal</a><br/>
      {% endif %}
    </div>

    <div class="ui-app-address">
      {{ app.street }} ({{ app.city }})<br/>
      {{ app.publictrans }}
    </div>


    <div class="ui-app-comments">
      {% for comment in app.comments %}
      <div class="ui-app-comment">
        <div class="ui-app-comment-name">
          {{ comment.uname }}:
        </div>
        <div class="ui-app-comment-text">
          {{comment.text}}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="ui-app-actions">
      {% if current_user.is_active %}

      {% if not app.is_fix() %}
      {% if not app.is_first() %}
      <div class="ui-app-moveup ui-app-action">
        <a href="/move?id={{ app.get_id() }}">Fr&uuml;her</a>
      </div>
      {% endif %}
      {% if not app.is_last() %}
      <div class="ui-app-movedown ui-app-action">
        <a href="/move?id={{ app.get_id() }}&direction=backward">Sp&auml;ter</a>
      </div>
      {% endif %}
      {% endif %}

      <div class="ui-app-delete ui-app-action">
        <a class="ui-link" href="/delete?id={{ app.get_id() }}">L&ouml;schen</a>
      </div>
      {% endif %}

      <div class="comment-mech ui-app-action">
        <a class="comment-indicator">Kommentar schreiben</a>

        <div class="comment-form">

          <form action="/comment" method="post">
            <input type="hidden" name="id" value="{{ app.get_id() }}">

            <div class="three columns">
              <label for="author">Autor</label>
              {% if current_user.is_active %}
              <input type="text" name="author" value="{{ current_user.username }}">
              {% else %}
              <input type="text" name="author">
              {% endif %}
            </div>

            <div class="three columns">
              <label for="text">Text</label>
              <input type="text" name="text">
            </div>

            <div class="three columns">
              <label for="magic">Beine?</label>
              {% if current_user.is_active %}
              <input type="text" name="magic" value="4">
              {% else %}
              <input type="text" name="magic">
              {% endif %}
            </div>

            <div class="twelve columns">
              <input class="button-primary" type="submit" value="Kommentieren">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">
  <link rel="stylesheet" href="assets/nomaden.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>Nomaden</title>

  <script type="text/javascript" src="assets/nomaden.js" defer></script>
</head>
<body>

<div class="container">

  <div class="row">
    <div class="twelve columns ui-header">

      <h1>{% block title %}{% endblock %}</h1>

    </div>
  </div>
</div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="/index">Die Termine</a></li>
      <li class="navbar-item">
        <a class="navbar-link" href="/enterPub">Neue Kneipe</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/archive">Archiv</a>
      </li>
      <li class="navbar-item pull-right">
        <a class="navbar-link" href="/about">&Uuml;ber uns</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}

{% endblock %}

<div class="container ui-footer">
  <div class="row">

    <div class="twelve columns">

      <hr>

      <a href="/calendar">Aktuelle Termine (ICS)</a> |
      <a href="/archive">Alte Termine</a> |
      <a href="/enterPub">Neue Kneipe</a> |
      IRCnet <a href="http://chat.mibbit.com/?channel=%23nomaden&server=irc.portlane.se">#nomaden</a> |
      <a href="/about">&Uuml;ber uns</a>
    </div>

    <div class="twelve columns">
      You are: <em>{{ username }}</em> <a href="{{ loginout_url }}">{{ loginout_text }}</a>
    </div>

    <div class="twelve columns">
      Copyright &copy; 2016-2018 - Die Nomaden | <a href="assets/impressum.html">Impressum</a>
    </div>

    <div class="twelve columns">
      Github: <a href="https://github.com/nomadenorg/nomads">nomadenorg/nomads</a>
    </div>

  </div>
</div>

</body>
</html>
