{% extends "base.html" %}
{% block title %}Die aktuellen Nomaden-Termine{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="twelve columns">

      <div class="logo">
        <img src="assets/camel.jpg">
      </div>


      <h2 id="aktuell">Die feststehenden Termine</h2>

      <p><strong>Hinweis:</strong> Die Links zu den Kartendiensten sind automatisch erzeugt und nicht notwendigerweise
        korrekt. Bitte Filter zwischen den Ohren einschalten!</p>

    </div>
  </div>


  {% for app in fixed_apps %}

  {{ app_div(app) }}

  {% endfor %}

  <div class="row">
    <div class="twelve columns">

      <div>
        <h2>Die Warteliste</h2>
      </div>

    </div>
  </div>

  {% for app in wait_apps %}

  {{ app_div(app) }}

  {% endfor %}
</div>

{% endblock %}