<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/skeleton.css">
    <link rel="stylesheet" href="assets/nomaden.css">
    <title>nomaden.ofosos.org</title>

    <script type="text/javascript" src="assets/nomaden.js" defer></script>
  </head>
  <body>

    <div class="container">

      <div class="row">
	<div class="twelve columns">
	  
	  <h1>Die aktuellen Nomaden-Termine</h1>

	</div>
      </div>
    </div>
    
	  
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#aktuell">Die Termine</a></li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="enterpub.html">Neue Kneipe</a>
	  </li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="archive">Archiv</a>
	  </li>
	  <li class="navbar-item pull-right">
	    <a class="navbar-link" href="about.html">Über uns</a>
	  </li>
        </ul>
      </div>
    </nav>
    

    <div class="container">
      <div class="row">
	<div class="twelve columns">

	  <div class="logo">
	    <img src="assets/camel.jpg">
	  </div>

    
	  <h2 id="aktuell">Die feststehenden Termine</h2>

          <p><strong>Hinweis:</strong> Die Links zu den Kartendiensten sind automatisch erzeugt und nicht notwendigerweise korrekt. Bitte Filter zwischen den Ohren einschalten!</p>

	</div>
      </div>

      
      {% for app in fixed_apps %}

      <div class="row">
	<div class="twelve columns">
	  <p class="pub">
	    <b>{{ fmt_date(app.setdate) }}</b><br>
	    {{ app.name }}<br>
    
	    {{ app.street }}, {{ app.city }}<br>
	    <a target="_blank" href="http://maps.google.com/maps?f=q&hl=en&q={{ app.street }},+Hamburg,+Germany">Google Maps</a> (<a taget="_blank" href="http://www.geofox.de/jsf/home.seam?INPUTSTARTTYP=H&INPUTSTARTTEXT1=Informatikum&INPUTSTARTTEXT2=Hamburg&INPUTUHRZEIT=19:00&INPUTABODERAN=2&INPUTZIELTYP=A&INPUTZIELTEXT2={{ app.city }}&INPUTDATUM=23.08.2016&INPUTZIELTEXT1={{ app.publictrans }}">{{ app.publictrans }}</a>)
	  </p>
	  
	  {% if moderator is defined %}
	  <p>
	    <a href="/delete?id={{ app.key.urlsafe() }}">Löschen</a>
	  </p>
	  {% endif %}
	    

	  <div class="comments">
	    {% for comment in app.comments %}

	    <p>&lt;{{ comment.uname }}&gt; {{comment.text}}</p>
    
	    {% endfor %}
	  </div>
      
	  <div class="comment-mech">
	
	    <a class="comment-indicator" >Kommentar schreiben</a>
	    <div class="comment-form">
	  
	      <form action="/comment" method="post">
		<input type="hidden" name="id" value="{{ app.key.urlsafe() }}">
	    
		<div class="three columns">
		  <label for="author">Autor</label>
		  <input type="text" name="author">
		</div>
	    
		<div class="three columns">
		  <label for="text">Text</label>
		  <input type="text" name="text">
		</div>

		<div class="three columns">
		  <label for="magic">Beine?</label>
		  <input type="text" name="magic">
		</div>

		<div class="twelve columns">
		  <input class="button-primary" type="submit" value="Kommentieren">
		</div>
	      </form>
	
	    </div>
	  </div>

	</div>
      </div>
	  
      {% endfor %}

      <div class="row">
	<div class="twelve columns">
      
	  <div>
	    <h2>Die Warteliste</h2>
	  </div>
	  
	</div>
      </div>
	  
	  {% for app in wait_apps %}

      <div clas="row">
	<div class="twelve columns">
	  
	  <p>
	    <b>{{ app.name }}</b><br>
	    {{ app.street }}, {{ app.city }}<br> ({{ app.publictrans }})<br>
	    <a href="/moveForward?id={{ app.sortorder }}">Früher</a>
	    {% if moderator is defined %}
	    <a href="/delete?id={{ app.key.urlsafe() }}">Löschen</a>
	    {% endif %}
	  </p>


	  {% if app.comments %}
	  
	  {% for comment in app.comments %}
	
	  <p>&lt;{{ comment.uname }}&gt; {{comment.text}}</p>
	
	  {% endfor %}
	  
	  {% else %}
	  
	  <em>Keine Kommentare vorhanden.</em>
	
	  {% endif %}

	</div>
      </div>
      
      <div class="row comment-mech">

	<a class="comment-indicator" >Kommentar schreiben</a>
	<div class="comment-form">
	<form action="/comment" method="post">
	  <input type="hidden" name="id" value="{{ app.key.urlsafe() }}">
	  <div class="three columns">


	    <label for="author">Autor</label>
	    <input type="text" name="author">
	    
	  </div>

	  <div class="three columns">
	    <label for="text">Text</label>
	    <input type="text" name="text">
	  </div>

	  <div class="three columns">
	    <label for="magic">Beine?</label>
	    <input type="text" name="magic">
	  </div>
	  
	  <div class="three columns">
	    <input class="button-primary" type="submit" value="Kommentieren">
	  </div>
	</form>
	</div>

      </div>
      

      {% endfor %}
      
      <div class="row">
	
	<div class="twelve columns">
	  
	  <hr>

	  <a href="/archive">Alte Termine</a>
	  <a href="/enterpub.html">Neue Kneipe</a>
    
	  You are: <em>{{ username }}</em> <a href="{{ loginout_url }}">{{ loginout_text }}</a>

	  {% if moderator is defined %}
	  <a href="/moderator">Moderatoren</a>
	  {% endif %}
	  
	</div>

	<div class="twelve columns">
	  Copyright &copy; 2016 - Mark Meyer
	</div>
	
      </div>
      
    </div>
    
  </body>
</html>
{% endautoescape %}
