{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="twelve columns">

      <div class="logo">
        <img src="assets/camel.jpg">
      </div>


      <h2 id="aktuell">Login</h2>

      {% if msg is defined %}

      <strong>{{ msg }}</strong>

      {% endif %}

      <form action="/login" method="post">
        <div class="three columns">
          <label for="author">Benutzername</label>
          <input type="text" name="username">
        </div>

        <div class="three columns">
          <label for="text">Passwort</label>
          <input type="password" name="password">
        </div>

        <div class="twelve columns">
          <input class="button-primary" type="submit" value="Einloggen">
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}