<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/skeleton.css">
    <link rel="stylesheet" href="assets/nomaden.css">
    <title>nomaden.ofosos.org</title>

    <script type="text/javascript" src="assets/nomaden.js" defer></script>
  </head>
  <body>

     <div class="container">

      <div class="row">
	<div class="twelve columns">
	  
	  <h1>Moderatoren</h1>

	</div>
      </div>
    </div>
    
	  
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#aktuell">Die Termine</a></li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="enterpub.html">Neue Kneipe</a>
	  </li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="archive">Archiv</a>
	  </li>
	  <li class="navbar-item pull-right">
	    <a class="navbar-link" href="about.html">Über uns</a>
	  </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">

	<table class="u-full-width">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th></th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    {% for mod in moderators %}
	    <tr>
	      <td>{{ mod.name }}</td>
	      <td>{{ mod.mail }}</td>

	      <td><a href="/moderatorDel?id={{ mod.key.urlsafe() }}">Löschen</a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

	<h3>Neuer Moderator</h3>

	<form action="/moderatorAdd" method="get">

	  <label for="name">Name</label>
	  <input type="text" name="name">

	  <label for="mail">Mail</label>
	  <input type="text" name="mail">

	  <input class="button-primary" type="submit" value="Anlegen">
	  
	</form>
	
      </div>
    </div>
    

  </body>
</html>
{% endautoescape %}
