<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/skeleton.css">
    <link rel="stylesheet" href="assets/nomaden.css">
    <title>nomaden.ofosos.org</title>

    <script type="text/javascript" src="assets/nomaden.js" defer></script>
  </head>
  <body>

    <div class="container">

      <div class="row">
	<div class="twelve columns">
	  
	  <h1>Die aktuellen Nomaden-Termine</h1>

	</div>
      </div>
    </div>
    
	  
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="index">Die Termine</a></li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="enterpub.html">Neue Kneipe</a>
	  </li>
	  <li class="navbar-item">
	    <a class="navbar-link" href="archive">Archiv</a>
	  </li>
	  <li class="navbar-item pull-right">
	    <a class="navbar-link" href="http://www.nomaden.org/nomaden.html">&Uuml;er uns</a>
	  </li>
        </ul>
      </div>
    </nav>
    

    <div class="container">
      <div class="row">
	<div class="twelve columns">

	  <div class="logo">
	    <img src="assets/camel.jpg">
	  </div>

    
	  <h2 id="aktuell">Unauthorized :(</h2>


	  <p>Dang, you're not authorized to request this object :(</p>
	  
	</div>
      </div>

      <div class="row">
	
	<div class="twelve columns">
	  
	  <hr>

	  <a href="/index">Aktuelle Termine</a>
	  <a href="/archive">Alte Termine</a>
	  <a href="/enterpub.html">Neue Kneipe</a>
    
	  You are: <em>{{ username }}</em> <a href="{{ loginout_url }}">{{ loginout_text }}</a>

	  {% if moderator is defined %}
	  <a href="/moderator">Moderatoren</a>
	  {% endif %}
	  
	</div>

	<div class="twelve columns">
	  Copyright &copy; 2016-2017 - Die Nomaden | <a href="assets/impressum.html">Impressum</a>
	</div>
	
	<div class="twelve columns">
	  Github: <a href="https://github.com/nomadenorg/nomads">$Id: 6cfb3f04aa1e49cb40727e5569cf95feb90ebf83 $ $Format:%ci$ ($Format:%h$)</a>
	</div>
	
      </div>
      
    </div>
    
  </body>
</html>
{% endautoescape %}
